<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.whatsaap">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icona"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhatsAAP">
        <activity android:name=".SettingsActivity2"
            android:parentActivityName=".chatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhatsAAP2"/>

        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity2"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhatsAAP2" />
        <activity
            android:name=".NoteDetails"
            android:parentActivityName=".MainActivity2"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhatsAAP2" />
        <activity
            android:name=".MainActivity2"
            android:parentActivityName=".chatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhatsAAP2" />
        <activity android:name=".otpAuthentication"
            android:screenOrientation="portrait"/>

        <activity android:name=".specificchat"
            android:screenOrientation="portrait"
            />
        <activity android:name=".UpdateProfile"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ProfileActivity"
            android:parentActivityName=".chatActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".chatActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".setProfile"
            android:screenOrientation="portrait"
            />
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".splashscreen"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".FireBasePushNotificationClass">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
            </intent-filter>
        </service>
        <service android:name=".Token.FireBaseService"
            android:enabled="true"
            android:exported="true">
        <intent-filter>
            <action android:name="com.google.firebase.INSTANCE_ID_SERVICE"/>
        </intent-filter>
        </service>
        <service android:name=".Token.FirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>